/* this will target every single section */
body {
    font-family: sans-serif;
}

h2 {
    font-family: courier;
}

section {
    background-color: pink;
}

.container > section:nth-child(3){
background-color: firebrick;
}


/* this will get evey elemnt with this class */
.text {
    font-size: 2em;
}

h2[class^="header-"] {
    text-align: center;
}